* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #8e2de2;
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  );
  background: linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); 
}

body {
  margin: 0;
}
